@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.test {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  margin: 0;
}

.test2 {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  margin: 0;
  background-color: white
}

 /*------------- Whole Document---------------- */

body {
  font-family: 'Merriweather';
  font-size: 14px;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'Merriweather';
  margin-top: 24px;
}

.title {
  display: none;
}

